<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body>
    <main class="blogfeed">
      {% include header.html %} {% include bio.html %}{% include events.html %}
      <section id="articles">
        {% assign posts=site.posts | where: "lang", site.lang %}
      {% for post in posts %}
        <!--  -->
  
        <article class="article">
          <div class="article-top">
            <div
              class="article-thumbnail"
              style="
                background-image: url('{{ post.thumbnail }}');
              "
            >
              <div class="article-title">
                <a href="{{site.url}}{{post.url}}">{{post.title}}</a>
              </div>
            </div>
          </div>
          <div class="article-bottom">
            <small class="article-date">{{post.date | date_to_string}}</small>
            <div class="article-categories">
              <div class="article-categories">
                {% for c in post.categories %}
                <h1>
                  <a
                    href="#!"
                    data-base-url="{{site.url}}"
                    class="article-category"
                    >{{c}}</a
                  >
                </h1>
                {% endfor %}
              </div>
            </div>
          </div>
        </article>
      
      {% endfor %}
    </section>
      <!--  -->
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
